#admin-header {
    background: url('/media/images/admin.jpg') no-repeat center;
    background-color: rgb(236, 136, 136);
    background-size: cover;
}

#admin-dashboard {
    height: fit-content;
}

.admin-form label {
    padding: 4px 0px;
}

#delete-button {
    padding: 10px 20px;
    float:right;
    color: red;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#delete-button i {
    color: red;
    padding-right: 1.5rem;
}

#delete-button:hover,
#delete-button:hover i {
    background: red;
    color: whitesmoke;
}

.table-holder {
    max-height:400px;
    overflow: auto;
}

.base-table {
    width: 100%;
    table-layout:fixed;
}

.base-table,
.base-table td,
.base-table th {
    border: 1px solid lightslategray;
    overflow: auto;
}

.email-tt {
    border: none;
    background: none;
}

.admin-hr,
.email-hr {
    color: #0f5081;
    width: 70%;
    opacity: 0.6;
    border-radius: 10px;
}

.key {
    width: 20px;
    height: 20px;
    border: 1px solid lightslategray;
}