{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index-about.css' %}">
{% endblock %}

{% block extra_title %}- About{% endblock %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="about-hero">
    <div class="overlay">

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="about-title-container"class="col-12 h-100 w-100 position-relative">
                    <h1 id="about-title" class="title-text">About The SPNA</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-10 col-xl-8 mx-auto">
                <div class="p-5">
                    <h3 class="text-blue">About SPNA</h3>
                </div>
                <div>
                    <p class="pt-2">We believe our staff should receive the recognition they deserve for their training, 
                        knowledge, dedication, and support, nurturing, and love they provide to the children in our care.
                    </p>
                    <p class="pb-4">SPNA supports our members, managers, teachers, and workers, by educating and advocating on behalf of our sector, 
                        and delivering guidance, support, and encouragement back to our members. 
                        We do this to ensure we can continue to provide the best start in life for the children in our care, by operating fun, educational, and safe learning environments. 
                        We support the parents and guardians of the children in our care by providing nurturing, compassionate, and inclusive settings, 
                        as well as offering information and advice on their children, as well as supporting their own mental health and wellbeing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="guiding-section" class="bg-light-blue">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-10 col-xl-8 mx-auto p-3 p-md-5">
                <h3 class="text-blue">Guiding Principles</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-8 mx-auto">
                <!-- Bootstrap Carousel -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <div class="w-80 d-block">
                                <div class="img-box text-center pt-3">
                                    <i class="fas fa-life-ring"></i>
                                </div>
                                <div>
                                    <p class="p-3">
                                        " To support and promote private nurseries as locations where all children receive high standards of care,
                                        support, and education, and to ensure that parents of children in these facilities recognise the standard of care their children are receiving. "
                                    </p>
                                </div>
                            </div>
                      </div>
                      <div class="carousel-item">
                        <div class="w-80 d-block">
                            <div class="img-box text-center pt-3">
                                <i class="fas fa-book-reader"></i>
                            </div>
                            <div>
                                <p class="p-3">
                                    " To enable private nurseries to deliver the high standards of care, support, and education by representing the views of the 
                                    sector and providing instruction, advice, and messaging regarding official policies and procedures. "
                                </p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="w-80 d-block">
                            <div class="img-box text-center pt-3">
                                <i class="fas fa-universal-access"></i>
                            </div>
                            <div>
                                <p class="p-3">
                                    " To provide mental health and wellbeing support to children and parents of children in our care, as well as educating more 
                                    generally on the importance of mental health and wellbeing to parents, especially those whose children do not or cannot access childcare. "
                                </p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="w-80 d-block">
                            <div class="img-box text-center pt-3">
                                <i class="fas fa-life-ring"></i>
                            </div>
                            <div>
                                <p class="p-3">
                                    " To ensure that all nursery settings have access to a well-qualified workforce, where staff feel valued and supported,
                                     and their talents and skills are recognised through an appropriate pay structure. "
                                </p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="w-80 d-block">
                            <div class="img-box text-center pt-3">
                                <i class="fas fa-award"></i>
                            </div>
                            <div>
                                <p class="p-3">
                                    " To build recognition and understanding of the stages of and factors contributing to a child’s development,
                                     and to provide support to all those who contribute to a child’s development. "
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section id="governace-section" class=" bg-ant-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8 mx-auto text-center">
                <div class="p-3 p-md-5">
                    <h3 class="text-blue">Governance</h3>
                </div>
            </div>
            <div id="governance-text-div" class="col-12 col-md-10 col-xl-8 p-5 mx-auto text-center">
                <div>
                    <p class="pt-2">Scottish Private Nurseries Association is Scotland's newest industry association for the nursery sector, and the only one which is completely run, 
                        managed, and funded by owners, managers, and the staff of the sector. We receive no funding from Government and remain completely independent.
                    </p>
                    <p class="pt-2">As we continue to build our membership base, we will move to a formal incorporated structure, and have started this process. 
                        We are keen to receive expressions of interest from those involved in the sector who are willing to be involved with SPNA in a formal manner, 
                        whether that be as a board director or some other form.
                    </p>
                </div>
            </div>
            <div id="governance-image-div" class="col-12 col-lg-6">
            </div>
        </div>
    </div>
</section>

<section id="tag-line-section">
    <div id="tag-line-container"class="container-fluid bg-dark-blue text-ant-white">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="my-auto p-2 text-center">
                    <span class="">"Better than a thousand days of diligent study is one day with a great teacher."</span>
                    <span><p><small> - Confusious</small></p></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="people-section">
    <div class="container container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-10 col-xl-8 mx-auto">
                <div class="pb-3">
                    <h3 class="text-blue">People</h3>
                </div>
                <div class="pb-3">
                    <p class="text-blue">Sharon Fairley - CEO and Executive Director</p>
                </div>
                <div>
                    <p class="pt-2">While working at Edinburgh Airport, and especially when she was on shift work, Sharon struggled to find good quality, 
                        formal child-care for her young children, in an area which was convenient for her work patterns. She opened her first child-care centre, 
                        Little Flyers at Ingliston, in 1999, and has since grown the business to include 3 other Early Years settings, plus 4 out-of-hours care for school aged children.
                         Recognising the difficulties of sourcing high-quality staff at short notice, Sharon has also opened a recruitment company for nursery careworkers
                    </p>
                    <p class="pt-2">Sharon is passionate that all children should be recognised as individuals and supported from the very start of their wee lives to become confident and great achievers. 
                        She believes this starts with learning-through-play, as well as care and nurturing, which continues through-out their childcare journey.
                         Her husband and children have dyslexia undiagnosed until too late and so did not have the best experience through their education system.
                          Sharon still believes in continually improving standards in all of her settings, and has the ambition to achieve this over all Early Years providers,
                           which makes her proud to be part of children's early learning.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'home/js/about-script.js' %}"></script>

{% endblock %}
