{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<section id="hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1>Scottish Private Nursery Association</h1>
            </div>
        </div>
    </div>
</section>


<section id="quote">

</section>


<section id="educate">

</section>


<section id="overview">

</section>


<section id="quality">

</section>


{% endblock %}
