{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<section id="hero-image-section">
    <div id="hero-overlay">
        <div class="container container-fluid h-100">
            <div class="row h-100">
                <div id="hero-text-container"class="col-12 my-auto">
                    <h1 id="hero-text">Scottish Private Nursery Association <br>SPNA</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="quote-section">

</section>


<section id="educate-section">

</section>


<section id="overview-section">

</section>


<section id="quality-section">

</section>


{% endblock %}
