#news-image {
    background: url('/media/original/bench-read.png') no-repeat center;
    background-color: #96b1e0;
    background-size: cover;
    height: 30vh;
    width: 100vw;
    position: relative;
}

#news-title-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#news-articles-section {
    min-height: 50vh;
}

#news-title {
    position:absolute;
    top: 40%;
    left: 11%;
}

.article-content {
    overflow-y: scroll;
    height: 30rem;
}

.image-holder {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.modal-button {
    background: none;
    border: none;
}

body.modal-open {
    font-weight: unset;
}

#newsModalTitle {
    color: #37698e;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    letter-spacing: 4px;
    line-height: 1;
    font-weight: 600;
}

/* ------------ Initiatives Page----------------- */
#initiatives-image {
    background: url('/media/original/clapping.png') no-repeat center;
    background-color: #96b1e0;
    background-size: cover;
    height: 30vh;
    width: 100vw;
    position: relative;
}

#init-title {
    top: 60%;
    left: 20%;
}

#init-gap {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Caveat', cursive;
    letter-spacing: 1px;
}

/* Cards inspired from https://codepen.io/onediv/pen/nggJjz */

.i-card {
    position: relative;
    min-height: 200px;
    width: 300px;
	display: inline-block;
	vertical-align: middle;
	background: #F0F0F0;
	border-radius: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid white;

	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#card1 {
    background: url('/media/blue-hand.jpg') no-repeat center;
    background-color: #96b1e0;
    background-size: cover;
}

#card2 {
    background: url('/media/rainbow.jpg') no-repeat center;
    background-color: #96b1e0;
    background-size: cover;
}

#card3 {
    background: url('/media/muddy-wellies.jpg') no-repeat center;
    background-color: #96b1e0;
    background-size: cover;
}

#card4,
#card5,
#card6 {
    background-color: rgba(41, 90, 37, 0.5);
}

.card-image {
    overflow: hidden;
    width: 17.5rem;
}

#card1:hover #member-shots1,
#card2:hover #member-shots2,
#card3:hover #member-shots3 {
    background: rgba(33, 96, 130, 0.5);
    height: 200px;
    padding: 1rem;
}

#card4:hover #member-shots4,
#card5:hover #member-shots5,
#card6:hover #member-shots6 {
    background: rgba(41, 90, 37, 0.5);
    height: 400px;
    padding: 1rem;
}

#card1:hover .member-infos i,
#card2:hover .member-infos i,
#card3:hover .member-infos i,
#card4:hover .member-infos i,
#card5:hover .member-infos i,
#card6:hover .member-infos i {
    -webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
    z-index:3;
    
	-webkit-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-moz-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-o-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-ms-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
}

.member-infos {
	padding: 10px;
    position: relative;
}

#member-shots1,
#member-shots2,
#member-shots3,
#member-shots4,
#member-shots5,
#member-shots6 {
	height: 0px;
	overflow: auto;
	border-radius: 0 0px 3px 3px;
	position: relative;

	-webkit-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-moz-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-o-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-ms-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
}

/* ------------Campaigns Section---------------- */
#campaign-header {
    height: 10rem;
}

#camp-row {
    background: url('/media/jumping-kids.jpg') no-repeat center;
    background-color: rgba(41, 90, 37, 0.5);
    background-size: cover;
    padding: 3%;
    padding-bottom: 10rem;
}

#camp-titles {
    z-index: 2;
}

#camp-titles .title-text {
    top:4%;
} 