{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
{% if request.user.is_active %}
<div class="row">
    <div class="col pl-5">
        <h1 class="pb-3 text-blue">Welcome</h1>
    </div>
</div>

<div class="row">
    <div class="col pl-5">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'profile' %}" class="menu-link">Profile</a>
                </li>
                <li>
                    <a href="{% url 'member_area' %}" class="menu-link">Members Area</a>
                </li>
                <li>
                    <a href="{% url 'account_change_password' %}" class="menu-link">Change Password</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col pl-5">
        <h1 class="pb-3 text-blue">{% trans "Sign In" %}</h1>
    </div>
</div>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <p>
        <label for="id_login" class="d-block m-1">Login:</label>
        <input type="text" class="m-1" name="login" placeholder="Username or e-mail" autocomplete="email" required="" id="id_login">
    </p>
    <p>
        <label for="id_password" class="d-block m-1">Password:</label>
        <input type="password" class="m-1" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
    </p>
    <p">
        <label for="id_remember" class="m-1 position-relative">Remember Me:</label>
        <input type="checkbox" class="position-absolute float-right m-2" name="remember" id="id_remember">
    </p>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="pt-2 pb-2">
        <button class="primaryAction spna-btn btn" type="submit">{% trans "Sign In" %}</button>
    </div>
    <div class="pt-2 pb-2">
        <a class="secondaryAction menu-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
</form>

{% endif %}
{% endblock %}