{% extends "account/base.html" %}

{% load i18n %}

{% load tags %}
{% url 'profile_page' as profile %}
{% url 'member_area_page' as member_area %}

{% block content %}
{% if request.user.is_active %}
<div class="row">
    <div class="col pl-5">
        <h1 class="pb-3 text-blue">Welcome</h1>
    </div>
</div>

<div class="row">
    <div class="col pl-5">
        <nav>
            <ul class="menu-link">
                <li>
                    <a href="{{profile}}" class="{% active request profile %}">Profile</a>
                </li>
                <li>
                    <a href="{{member_area}}" class="{% active request member_area %}">Members Area</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col pl-5">
        <h1 class="pb-1 text-blue">{% trans "Sign In" %}</h1>
    </div>
</div>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <p>
        <label for="id_login_spna" class="d-block m-1">Login:</label>
        <input type="text" class="m-1" name="login" placeholder="Username or e-mail" autocomplete="email" required="" id="id_login_spna">
    </p>
    <p>
        <label for="id_password_spna" class="d-block m-1">Password:</label>
        <input type="password" class="m-1" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password_spna">
    </p>
    <p class="pb-1">
        <label for="id_remember_spna" class="m-1 position-relative">Remember Me:</label>
        <input type="checkbox" class="position-absolute float-right m-2" name="remember" id="id_remember_spna">
    </p>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="pt-2 pb-2">
        <button class="primaryAction spna-btn btn" type="submit">{% trans "Sign In" %}</button>
    </div>
    <div class="pt-2 pb-2">
        <a class="secondaryAction menu-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
</form>

{% endif %}
{% endblock %}