{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet prefetch" type="text/css" href="{% static 'news/css/news-init.css' %}">
{% endblock %}

{% block extra_title %}- Initiatives{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Initiatives-Hero image and title section -->
<section id="initiatives-image">
    <div class="container-fluid text-center">
        <div class="overlay">
            <div class="row h-100 w-100">
                <div class="col-12 h-100 w-100 position-relative">
                    <h1 id="init-title" class="position-absolute title-text">SPNA Initiatives</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Initiatives-Text and cards section -->
<section id="init-1">
    <div class="container-fluid">
        <div class="row text-center bg-ant-white">
            <div class="col-12 col-md-10 col-xl-8 mx-auto p-3">
                <div class="pt-3">
                    <h3 class="text-blue ">Recognition of early years childcare</h3>
                </div>
            </div>
            <div class="col-12 col-md-10 col-xl-8 p-1 p-sm-3 mx-auto">
                <div>
                    <p class="pt-2">SPNA believes that early year’s childcare is part of the full spectrum of the educational journey from birth to adulthood. 
                        Children do not start their journey when they walk through the school gates on their first day
                         they have been on their journey since the day they were born, and their parents have been on the journey for even longer.
                    </p>
                    <p class="pt-2">Early years childcare is not simply baby-sitting. This is true no matter what sort of nursery a child attends,
                         whether it is private, Local Authority, or child minding. Settings are regulated by the Care Inspectorate, 
                         while our staff are regulated by the Scottish Social Services Council.
                    </p>
                    <p class="pt-2">In the recent report into the importance of early years, the Royal Foundation Centre for Early Childhood noted that 
                        “the time from pregnancy to five…fundamentally shape our whole lives”. The Duchess of Cambridge is quoted as saying 
                        “the early years are not simply about how we raise our children. They are about the society we will become.”</p>
                </div>
            </div>
        </div>
        <div class="row bg-ant-white p-1 p-sm-3 pt-sm-0">
            <!-- Below cards based on 
                https://codepen.io/onediv/pen/nggJjz -->
            <!-- Card-1 -->
            <div class="col-12 col-md-4 pt-5 pt-md-0 text-center">
                <div id="card1" class="w-100 i-card">
                    <div class="overlay"></div>
                    <div class="member-infos w-100 align-middle p-4 text-center">
                            <h2 class="text-whitesmoke pt-3">Human Development</h2>
                            <i class="fas fa-chevron-down fa-lg text-whitesmke"></i>
                    </div>
                    
                    <div id="member-shots1" class="member-shots text-whitesmoke" >
                        <div>
                            <p>The study of human development is a rich and varied subject. We all have personal experience with development, 
                                but it is sometimes difficult to understand how and why people grow, learn, and act as they do. 
                            </p>
                            <p>
                                Various theories focus on trying to explain how children change and grow over the course of childhood. 
                                These theories centre on various aspects of development including social, emotional, and cognitive growth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card-2 -->
            <div class="col-12 col-md-4 pt-5 pt-md-0 rounded-3 text-center">
                    <div id="card2" class="w-100 i-card">
                        <div class="overlay"></div>
                        <div class="member-infos w-100 p-4 text-center">
                            <h2 class="text-whitesmoke pt-3">Partner with Organisations</h2>
                            <i class="fas fa-chevron-down fa-lg text-whitesmoke"></i>
                        </div>
                        
                        <div id="member-shots2" class="member-shots text-whitesmoke" >
                            <div>
                                <p>SPNA will partner with organisations like the Centre for Early Childhood to build greater 
                                    awareness of the importance of early years childcare and education as a foundation for a better society.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Card-3 -->
            <div class="col-12 pt-5 col-md-4 pt-md-0 text-center">

                <div id="card3" class="w-100 i-card">
                    <div class="overlay"></div>
                    <div class="member-infos w-100 p-4 text-center">
                        <h2 class="text-whitesmoke pt-3">Centre for Early Childhood</h2>
                        <i class="fas fa-chevron-down fa-lg text-whitesmoke"></i>
                    </div>
                    
                    <div id="member-shots3" class="member-shots text-white" >
                        <div>
                            <p>SPNA believes that by collaborating with the experts in this field, as well as organisations such as the Centre for Early Childhood, 
                                we can successfully manage and improve the challenges of each stage of childhood, 
                                leading to the positive outcomes of healthy mental wellbeing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Initiatives-Quote section -->
<section id="init-gap" class="bg-dark-blue text-ant-white p-1 p-sm-3">
    <div class="row font-weight-bold">
        <div class="col-12 col-md-10 mx-auto">
            <div class="my-auto p-2 d-flex justify-content-center">
                <span class="">“When we succeed, we succeed because of our individual initiative, but also because we do things together.”</span>
            </div>
        </div>
        <div class="col-12 col-md-10 mx-auto">
            <div class="my-auto p-2 d-flex justify-content-center">
                <span> - Barack Obama</span>
            </div>
        </div>
    </div>
</section>

<!-- Initiatives-Text section -->
<section id="init-2" class="bg-light-blue">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-10 mx-auto p-3">
                <div class="pt-3">
                    <h3 class="text-blue">Mental health, wellbeing, and support for parents and their children</h3>
                </div>
            </div>
            <div class="col-12 col-md-10 col-xl-8 p-1 p-sm-3 mx-auto">
                <div>
                    <p class="pt-2">There can almost be no greater change to the lives of parents than when their children are born. For many, 
                        it is a time of low sleep, high stress, and complete and utter love, devotion, and wonderment.
                    </p>
                    <p class="pt-2">It can also be a period of isolation, loneliness, and bewilderment, especially for first time, young, or single parents.
                    </p>
                    <p class="pt-2">For those parents with children under the age of three, and who cannot afford childcare, especially when they are out of work, 
                        cannot work, or are studying, both the parent and the child will all too frequently miss out on the fundamental support and advice which childcare staff provide. 
                        The mental health and wellbeing of these parents and children can suffer enormously, which can have an impact through the rest of their lives.
                    </p>
                    <p class="pt-2">
                        SPNA will be looking to partner with Government, Local Authorities, and charities and social enterprises to ensure that all parents understand
                         and receive all the support which they need and deserve.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Initiatives-Campaigns and cards section -->
<section id="campaign-body">
    <div class="container-fluid w-100 position-relative">
        <div class="overlay"></div>
            <div id="camp-row" class="row">
                <div id="camp-titles" class="col-12 col-xl-10 my-auto mx-auto ">
                    <h2 class="my-auto title-text text-center mb-3">SPNA Campaigns</h2>
                    <p class="my-auto sub-title mt-5">SPNA are currently running three education and advocacy campaigns. We are engaging with law makers, elected representatives, and members of the civil service on the below.</p>
                </div>

                <!-- Cards based on below
                https://codepen.io/onediv/pen/nggJjz -->
                <!-- Card-4 -->
                <div class="col-12 col-md-4 p-4 rounded-top text-center">

                    <div id="card4" class="w-100 i-card">
                        <div class="member-infos w-100 align-middle p-4 text-center">
                                <h2 class="text-whitesmoke pt-3">Funding for provision of 1140 hours</h2>
                                <i class="fas fa-chevron-down fa-lg text-whitesmke"></i>
                        </div>
                        
                        <div id="member-shots4" class="member-shots text-whitesmoke" >
                            <div>
                                <p>The Scottish government has mandated that all three- and four-year old children, and eligible two-year olds, 
                                    will be entitled to 1,140 hours of early-learning and childcare (ELC). These hours can be provided through Local Authority settings, 
                                    or through the private, independent, voluntary, or not-for-profit sectors.
                                </p>
                                <p>
                                    Funding is provided from the Scottish Government to Local Authorities, which then pass a rate per child on to the setting providing the care.
                                </p>
                                <p>However, Local Authorities use their own formula to determine a rate which they deem reasonable, and then lock that rate in for up-to 3 years. 
                                    his decision is taken irrespective of the actual costs of providing the childcare, or recognition that wage increases for educators will be required over the 3-year period.
                                </p>
                                <p>SPNA believes this policy not only acts to reduce the level of early-learning which can be provided; penalises educators and other staff by reducing the amount they can be paid
                                     in the private sector while allowing Local Authority settings to offer higher rates of pay; but is also unfair, anti-competitive and undermines the intention of the Scottish Government’s policy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card-5 -->
                <div class="col-12 col-md-4 p-4 rounded-3 text-center">
                        <div id="card5" class="w-100 i-card">
                            
                            <div class="member-infos w-100 p-4 text-center">
                                <h2 class="text-whitesmoke pt-3">Care Inspectorate standards</h2>
                                <i class="fas fa-chevron-down fa-lg text-whitesmoke"></i>
                            </div>
                            
                            <div id="member-shots5" class="member-shots text-whitesmoke" >
                                <div>
                                    <p>SPNA believes that nurseries should meet a clear set of rigorous standards, and that these standards must be upheld and measured by the Care Inspectorate.
                                    </p>
                                    <p>However, we believe that the standards must be fair, suitable, and appropriately implemented across all settings irrespective of the ownership of the setting. 
                                        Outdoor settings can’t be measured by the same benchmark as those which are fully indoor, while those which are fully indoor can’t be measured by the 
                                        same benchmark as those which include indoor and outdoor areas for the children. Privately owned settings and Local Authority settings should be measured by the same benchmarks.
                                    </p>
                                    <p>Equally, standards must provide clarity and certainty for nurseries. They should not provide ambiguity or be measured subjectively.
                                    </p>
                                    <p>SPNA understands that this is a fine balance for both nurseries and the Care Inspectorate. While nurseries want to meet and exceed the standards to which they are accountable, 
                                        they also look for understanding where defined standards may not be suitable for their particular setting, and recognition that inspections are merely snapshots of ongoing operations. 
                                        More than anything, we recognise that there needs to be a strong and consistent relationship between Care Inspectorate staff and nursery owners and managers.
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Card-6 -->
                <div class="col-12 p-4 col-md-4 rounded-3 text-center">
                    <div id="card6" class="w-100 i-card">
                        <div class="member-infos w-100 p-4 text-center">
                            <h2 class="text-whitesmoke pt-3">Recruitment, Staff training and qualifications</h2>
                            <i class="fas fa-chevron-down fa-lg text-whitesmoke"></i>
                        </div>
                        
                        <div id="member-shots6" class="member-shots text-white" >
                            <div>
                                <p>SPNA recognises the level of trust placed in our nursery members by the parents of children enrolled at our settings. 
                                    This trust is precious to us, and we know that it is our incredible staff who deliver on that trust. It is, ultimately, 
                                    our staff which provide the care to the children and help them grow, develop, and enjoy themselves, 
                                    our staff who build relationships with parents and provide advice and support, our staff which devote their own expertise and energy.
                                </p>
                                <p>However, there can be a disconnect between the skills which our staff possess and those which are considered as appropriate for a nursery worker.
                                     Unless our staff have earned a very narrow range of qualifications, they are considered unskilled in the field of childcare. 
                                     Qualifications in sports, drama, music, or languages other than English are not recognised as appropriate skills for child care , 
                                     even though they are welcomed in the school sector, and even though they are vital skills for early years children to experience.
                                </p>
                                <p>Early years training needs reform. Not only should there be recognition of core skills as outlined above, 
                                    but modules included in compulsory training need to be updated to include a framework on the importance of children’s development, 
                                    as well as outdoor learning, the choice of the child, supporting strategies for behaviour, and, importantly, 
                                    the mental health and wellbeing for the workforce, children, and their families.
                                </p>
                                <p>The provision of compulsory continuing professional development (CPD) modules needs to be more accessible to the private sector. 
                                    Too often, courses which are run by Local Authorities are pre-booked by Local Authority staff at the exclusion of those in the private sector. 
                                    Where private sector staff do undertake CPD during normal operation hours, 
                                    non-Local Authority nurseries should be able to receive financial compensation for the expense of additional staff.
                                </p>
                                <p>Early years staff are no longer simple baby-sitters. They are highly qualified and regulated by government, 
                                    and they should be recognised as a skilled vocation with remuneration which complements their skills.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</section>


{% endblock %}

