{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}- News{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<section id="news-image">
    <div class="conatiner-fluid text-center">
        <div class="row">
            <div class="col-12">
                <h1>SPNA News and Campaigns</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">

        <div class="row">
            <div class="col mb-5">
                <form action="" class="form d-inline" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
