{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news-init.css' %}">
{% endblock %}

{% block extra_title %}- News{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="modal fade" id="articleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="news-modal-title " id="modalTitle">MODAL TITLE</h5>
          <button type="button" class="btn-close art-modal-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modalBody" class="body news-modal-body">
            <p>
                {{ article.content }}
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary art-modal-close-button" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
  

<section id="news-image">
    <div class="overlay">
        <div class="conatiner-fluid w-100 h-100 text-center">
            <div class="row h-100 w-100">
                <div id="news-title-container"class="col-12 text-ant-white">
                    <h1 id="news-title" class="title-text">SPNA News and Campaigns</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news-articles-section">
    <div class="container-fluid bg-ant-white">
        <div class="row">
            <div class="col text-center pt-4">
                <h2>News</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
            {% if not article.campaign %}
            <div class="p-5 col-12 col-md-4">
                <div class="card article-content">
                    <button data-bs-toggle="modal" data-bs-target="#articleModal" class="modal-button">
                        <div class="image-holder">
                            {% if not article.image %}
                            <img src="{{ MEDIA_URL }}cropped-SPNA_logo_icon.png" class="card-img-top" alt="...">
                            {% else %}
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                            {% endif %}

                        </div>
                        <div class="card-body h-100">
                            <h5 id="title" data-title="title" class="card-title title">{{ article.title }}</h5>
                            <p id="content" data-content="content" class="card-text content overflow-auto">{{ article.content}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ article.created_on}}</small>
                        </div>
                    </button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
       
    </div>
</section>

<section id="campaign-articles-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>Campaigns</h2>
            </div>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles %}
                {% if article.campaign %}
                <div class="p-5 col-12 col-md-4 col-lg-6">
                    <div class="card h-100">
                        <button data-bs-toggle="modal" data-bs-target="#articleModal" class="modal-button">
                            <div class="image-holder">
                                {% if not article.image %}
                                <img src="{{ MEDIA_URL }}cropped-SPNA_logo_icon.png" class="card-img-top" alt="...">
                                {% else %}
                                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title title">{{ article.title }}</h5>
                                <p class="card-text content">{{ article.content}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ article.created_on | date:"D d M "}}</small>
                            </div>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</section>

{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"></a>NEXT &raquo; </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'news/js/news-script.js' %}"></script>
    
{% endblock %}