{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block extra_title %}- News{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="news-modal-title" id="modalTitle"></h5>
          <button type="button" class="btn-close modal-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="news-modal-body">
          {{ article.content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-close-button" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

<section id="news-image">
    <div id="news-image-overlay">
        <div class="conatiner-fluid w-100 h-100 text-center">
            <div class="row h-100 w-100">
                <div id="news-title-container"class="col-12 text-ant-white">
                    <h1 id="news-title" class="title-text">SPNA News and Campaigns</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news-articles-section">
    <div class="conatiner-fluid bg-ant-white">
        <div class="row">
            <div class="col text-center pt-4">
                <h2>News</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
            {% if not article.campaign %}
            <div class="p-5 col-12 col-md-4">
                <div class="card article-content">
                    <a onClick="changeContent()"class="modal-button">
                        <div class="image-holder">
                            {% if not article.image %}
                            <img src="{{ MEDIA_URL }}cropped-SPNA_logo_icon.png" class="card-img-top" alt="...">
                            {% else %}
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                            {% endif %}

                        </div>
                        <div class="card-body h-100">
                            <h5 id="title" class="card-title">{{ article.title }}</h5>
                            <p class="card-text overflow-auto">{{ article.content}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ article.created_on}}</small>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
       
    </div>
</section>

<section id="campaign-articles-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>Campaigns</h2>
            </div>
        </div>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in articles %}
                {% if article.campaign %}
                <div class="p-5 col-12 col-md-4 col-lg-6">
                    <div class="card h-100">
                        <div class="image-holder">
                            {% if not article.image %}
                            <img src="{{ MEDIA_URL }}cropped-SPNA_logo_icon.png" class="card-img-top" alt="...">
                            {% else %}
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.content}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ article.created_on | date:"D d M "}}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'news/js/news-script.js' %}"></script>
    
{% endblock %}