@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* ------------------------------ Base */

#topnav {
    height: 80px;   
}

.nav-item a {
    text-decoration: none;
    color: rgb(55,105,142);
    padding: 0 2rem;
}

.nav-item a:active,
.nav-item a:hover,
.other-nav:active i,
.other-nav:active p,
.other-nav:hover i,
.other-nav:hover p {
    color: antiquewhite;
}

.bg-blue {
    background-color: #96b1e0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5 rem;
}

.fas,
.link-text {
    color: rgb(55,105,142);
}

.main-logo-link {
    width: fit-content;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}