html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    overflow-y: auto;
    padding-bottom: 171px;
}

.container {
    padding: 30px 0px;
}

/* ------------------------------ Base */

#topnav {
    height: 85px;   
}

.cover {
    min-height: 60px;
}

#main-nav {
    justify-content: center;
}

.nav-item a,
footer a {
    text-decoration: none;
    color: #37698e;
    padding: 0 2rem;
}

.nav-item a:active,
.nav-item a:hover,
.other-nav:active i,
.other-nav:active p,
.other-nav:hover i,
.other-nav:hover p {
    color: antiquewhite;
}

.bg-blue {
    background-color: #96b1e0;
}

.text-blue {
    color: rgb(55,105,142);
    font-weight: bold;
}

.text-ant-white {
    color: antiquewhite;
    font-weight: initial;
}

.bg-ant-white {
    background-color: antiquewhite;
}

.bg-dark-blue {
    background-color: #37698e;
}

#footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    height: fit-content;
}

#inner-lower-footer {
    background-color: aliceblue;
    max-height: max-content;
}

/* ------------------------------- bootstrap toasts */

.messages-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Buttons */
/* .btn-blue {
    color: #37698e;
} */

/* mailchimp */
#mc_embed_signup {
    float: right;
    width: 70%;
}

#mc_embed_signup .mc-field-group {
    width: 98%;
    /* position: relative; */
} 

#mc_embed_signup #mc-submit {
    float: right;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5 rem;
}

.fas,
.link-text {
    color: rgb(55,105,142);
}

.main-logo-link {
    width: fit-content;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

@media (max-width: 992px) {
    body {
        padding-bottom: 360px;
    }
}

@media (max-width: 774px) {
    #mc_embed_signup {
        width: 100%;
    }
}
