{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="login-title-section" class="title-section">
  <div class="container-fluid w-100">
    <div class="overlay"></div>
    <div class="row w-100 h-100">
      <div class="col-12 p-5">
        <h1 class="title-text">Sign In</h1>
      </div>
    </div>
  </div>
</section>

<section id="create-acc-section" class="bg-ant-white">  
  <div class="row g-0 p-4 w-100">
    <div class="col-12 col-sm-10 p-1 p-sm-5 mx-auto my-auto text-center">
      <p>If you have not created an account yet, then please
        <a href="{% url 'membership' %}">sign up</a> first.</p>
      </div>
    </div>
</section>

<section id="signup-form-section" class="bg-ant-white">
  <div class="row g-0 p-1 p-sm-4 w-100">
    <div class="col-12 col-md-8 p-1 mx-auto my-auto">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input class="p-2" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction p-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn spna-btn primaryAction p-2" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
