{% extends "base.html" %}
{% load static %}


{% load i18n %}
{% load account socialaccount %}

{% block extra_js %}
{{block.super}}
<script type="text/javascript" src="{% static 'member/js/3dsec.js' %}"></script>
<script>
  _3dsec('{{ STRIPE_PUBLISHABLE_KEY }}', '{{payment_intent_secret}}');
</script>
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="login-title-section" class="title-section">
  <div class="container-fluid w-100">
    <div class="overlay"></div>
    <div class="row w-100 h-100">
      <div class="col-12 p-5">
        <h1 class="title-text">Sign In</h1>
      </div>
    </div>
  </div>
</section>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<section id="create-acc-section" class="bg-ant-white">  
  <div class="row g-0 p-4 w-100">
    <div class="col-12 col-sm-10 p-1 p-sm-5 mx-auto my-auto text-center">
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      </div>
    </div>
</section>
{% endif %}

<section id="signup-form-section" class="bg-ant-white">
  <div class="row g-0 p-1 p-sm-4 w-100">
    <div class="col-12 col-md-8 p-1 p-sm-4 mx-auto my-auto">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="spna-btn primaryAction" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-lg-12 col-md-12">
       <div class="container">
          <div id="3ds_result">
          </div>
       </div>
    </div>
  </div>
</section>

{% endblock %}
