{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<section id="logout-title-section" class="title-section">
  <div class="container-fluid w-100">
    <div class="overlay"></div>
    <div class="row w-100 h-100">
      <div class="col-12 p-5">
        <h1 class="title-text">{% trans "Sign Out" %}</h1>
      </div>
    </div>
  </div>
</section>

<section id="logout-body-section" class="bg-ant-white">
  <div class="row g-0 h-100 w-100">
    <div class="col-12 col-md-10 mx-auto p-4">
      <p>Are you sure you wish to sign out {{request.user.first_name}}?</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn spna-btn" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</section>



{% endblock %}
