{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="reset-title-section" class="title-section">
    <div class="container-fluid w-100">
        <div class="overlay"></div>
        <div class="row g-0 w-100 h-100">
            <div class="col-12 p-5">
                <h1 class="title-text">Password Reset</h1>
            </div>
        </div>
    </div>
</section>

<section id="reset-body-section" class="bg-ant-white">
    <div class="container-fluid text-blue">
        <div class="row h-100 w-100">
            <div class="col-12 col-md-10 mx-auto p-1 p-sm-2">

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
    
                <p class="m-3">{% blocktrans %}We have sent you an e-mail. <br> If you have not received it please check your spam folder. <br> Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
    {% endblock %}
