{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet prefetch" type="text/css" href="{% static 'spna_admin/css/spna_admin.css' %}">
{% endblock %}

{% block extra_title %}- Edit{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Edit-article-Hero image and title section -->
<section id="admin-header" class="title-section">
    <div class="container-fluid h-100 w-100 text-center">
        <div class="overlay">
            <div class="row h-100 w-100">
                <div class="col-12 text-center my-auto">
                    <h1 id="admin-title" class="title-text">SPNA Admin Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Edit-article-Body section -->
<section id="admin-dashboard" class="bg-light-grey">
    <div class="row g-0 w-100 p-2 p-sm-5 bg-light-blue">
        <div class="col-12 col-md-6 mx-auto">
            <div class="">
                <h2 class="p-3">Edit an Article</h2>
            </div>
            <!-- Add article form -->
            <form class="admin-form" action="{% url 'edit_article' article.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div>
                    <button class="btn btn-success">Submit Article</button>
                    <a id="delete-button" data-bs-toggle="modal" data-bs-target="#delete-modal" href="#delete-modal"><i class="fas fa-trash">Delete</i></a>
                </div>
            </form>
            <div class="pt-3">
                <a href="{% url 'news_page' %}"class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
