{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'spna_admin/css/spna_admin.css' %}">
{% endblock %}

{% block extra_title %}- Admin{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}


<section id="admin-header">
    <div class="conatiner-fluid text-center">
        <div class="row h-100 w-100">
            <div class="col-12 p-5 h-100 w-100 text-center">
                <h1 id="admin-title" class="text-blue">SPNA Admin Dashboard</h1>
            </div>
        </div>
    </div>
</section>

<section id="admin-dashboard" class="bg-light-grey">
    <div class="container-fluid">

        <div class="row">
            
            <!-- Members -->
            <div class="col-12 col-lg-6 p-2 p-sm-5 mx-auto">
                <div class="member-table-head">
                    <h2>Member Information</h2>
                </div>
                <table>
                    <tr>
                        <th>Full Name</th>
                        <th>Nursery</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Select</th>
                        <th><input id="members-select-all" type="checkbox" ></th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>NURSERY</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td><input type="checkbox" id="select" class="member-select-box select-box" name="email" value="{{user.email}}"></td>

                    </tr>
                    {% endfor %}
                    
                </table>
            </div>

            <!-- Contacts -->
            <div class="col-12 col-lg-6 p-2 p-sm-5 mx-auto">
                <div class="contact-table-head">
                    <h2>Contact Information</h2>
                </div>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Message</th>
                        <th>Replied</th>
                        <th>Select</th>
                        <th><input id="contacts-select-all" type="checkbox" ></th>
                    </tr>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{contact.created|date:"d M y" }}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.email|truncatechars:15}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.message|cut:"<p>"|cut:"</p>"}}</td>
                        <td>{{contact.replied}}</td>
                        <td><input type="checkbox" id="select" name="email" class="contact-select-box select-box" value="{{contact.email}}"></td>
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>

    
        <div class="row">

            <!-- Email Admin -->
            <div class="col-12 mx-auto p-2 p-sm-5">
                <div class="text-center">
                    <h2>Email</h2>
                </div>
                <form action="{% url 'send_email' %}" method="POST">
                    {% csrf_token %}
                    {{ emailForm|crispy }}
                    <button class="btn btn-success" type="submit">Send Email</button>
                </form>
            </div>
        </div>

        <div class="row">

            <!-- Article Admin -->
            <div class="col-12 col-md-6 p-2 p-sm-5 mx-auto">
                <div class="text-center">
                    <h2>Add an Article</h2>
                </div>
                <!-- Add news form -->
                <form class="admin-form" action="{% url 'add_article' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="btn btn-success">Submit Article</button>
                        <!-- <a id="delete-button" data-bs-toggle="modal" data-bs-target="#delete-modal" href="#delete-modal"><i class="fas fa-trash"></i>Delete</a> -->
                    </div>
                </form>       
            </div>

            <!-- Document Admin -->
            <div class="col-12 col-md-6 p-2 p-sm-5 mx-auto">
                <div class="text-center">
                    <h2>Add Document</h2>
                </div>
                <form class="admin-form" action="{% url 'add_document' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ docForm|crispy }}
                    <div>
                        <button class="btn btn-success">Submit Document</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            
        </div>
    </div>
</section>
    

<div class="page-footer">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{block.super}}

    
    <script type="text/javascript" src="{% static 'spna_admin/js/spna_admin.js' %}"></script>
    
{% endblock %}