{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet prefetch" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_title %}- Members Area{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA Members Area</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="documents-section" class="">
    <div id="doc-1-row" class="row text-center p-1 p-sm-5 bg-ant-white">
        <div class="cat-title col-12 p-4">
            <h2 class="category-title">Media Release</h2>
        </div>
        {% for doc in docs %}
            {% if doc.category == '1' %}
                <div class="document col-12 col-md-3 mx-auto my-auto position-relative">
                    <div class="doc-1-title" class="pt-4">
                        <h3 class="doc-title">
                            <a target="_blank" href="{{doc.doc.url}}">{{doc.title}}</a>
                        </h3>
                        <hr class="small-hr"> 
                    </div>
                    <div class="doc-1-ancil pt-2 d-flex justify-content-around">
                        <div class="pt-3">
                            <a download href="{{doc.doc.url}}"><i class="fas fa-download"></i></a>
                        </div>
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <div>
                            <a class="delete-doc-button p-2" data-bs-toggle="modal" data-name="{{doc.id}}" data-bs-target="#delete-doc-modal"><i class="fas fa-trash"></i></a>
                        </div>
                        {% endif %}
                        {% endif %}   
                    </div>
                    <div class="date-holder position-absolute text-center">
                        <p class="text-muted pt-1">
                            <small>
                                {{doc.date_uploaded | date:"d M, Y"}}
                            </small>
                        </p>
                    </div>
                </div>
                <hr class="d-block p-1 m-2 d-md-none mx-auto">
            {% endif %}
         {% endfor %}
    </div>
    <div id="doc-2-row" class="row text-center p-1 p-sm-5">
        <div class="cat-title col-12 p-4">
            <h2 class="category-title">Media Mentions</h2>
        </div>

        {% for doc in docs %}
            {% if doc.category == '2' %}
            <div class="document col-12 col-md-3 mx-auto my-auto position-relative">
                <div class="doc-1-title" class="pt-4">
                    <h3 class="doc-title">
                        <a target="_blank" href="{{doc.doc.url}}">{{doc.title}}</a>
                    </h3>
                    <hr class="small-hr"> 
                </div>
                <div class="doc-1-ancil pt-2 d-flex justify-content-around">
                    <div class="pt-3">
                        <a download href="{{doc.doc.url}}"><i class="fas fa-download"></i></a>
                    </div>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <div>
                        <a class="delete-doc-button p-2" data-bs-toggle="modal" data-name="{{doc.id}}" data-bs-target="#delete-doc-modal"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                    {% endif %}   
                </div>
                <div class="date-holder position-absolute text-center">
                    <p class="text-muted pt-1">
                        <small>
                            {{doc.date_uploaded | date:"d M, Y"}}
                        </small>
                    </p>
                </div>
            </div>
            <hr class="d-block p-1 m-2 d-md-none mx-auto">
            {% endif %}
        {% endfor %}
    </div>
    <div class="doc-3-row row text-center p-1 p-sm-5 bg-ant-white">
        <div class="cat-title col-12 p-4">
            <h2 class="category-title">Letters to and responses from Government</h2>
        </div>

        {% for doc in docs %}
            {% if doc.category == '3' %}
            <div class="document col-12 col-md-3 mx-auto my-auto position-relative">
                <div class="doc-1-title" class="pt-4">
                    <h3 class="doc-title">
                        <a target="_blank" href="{{doc.doc.url}}">{{doc.title}}</a>
                    </h3>
                    <hr class="small-hr"> 
                </div>
                <div class="doc-1-ancil pt-2 d-flex justify-content-around">
                    <div class="pt-3">
                        <a download href="{{doc.doc.url}}"><i class="fas fa-download"></i></a>
                    </div>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <div>
                        <a class="delete-doc-button p-2" data-bs-toggle="modal" data-name="{{doc.id}}" data-bs-target="#delete-doc-modal"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                    {% endif %}   
                </div>
                <div class="date-holder position-absolute text-center">
                    <p class="text-muted pt-1">
                        <small>
                            {{doc.date_uploaded | date:"d M, Y"}}
                        </small>
                    </p>
                </div>
            </div>
            <hr class="d-block p-1 m-2 d-md-none mx-auto">
            {% endif %}
        {% endfor %}
    </div>
     
</section>

{% endblock %}
{% block postloadjs %}
{{block.super}}
<script type="text/javascript" src="{% static 'member/js/member.js' %}"></script>
{% endblock %}