{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet prefetch" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_title %}- Login{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Member Login-Hero and title section -->
<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA 3D Secure</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Member Login-Body section -->
<section id="join-body-section" class="bg-ant-white text-blue">
    <div class="row g-0 w-100 h-100">
        <div class="col-12 col-md-10 pt-1 pt-sm-5 mx-auto">

                <div id="3ds_result" class="text-center">
                  <!-- 3d Verification results get passed into here. -->
                  <div class="text-center p-5">
                      <a id="redirect-button" href="{% url 'account_login' %}" class="btn spna-btn">Enter the SPNA</a>
                  </div>
                </div>
        
        </div>
        <div id="loading-overlay-secure" class="col-12 text-center">
            <h1 class="text-light logo-font loading-spinner">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </h1>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{% endblock postloadjs %}