{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_title %}- Members Area{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA Members Area</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="documents-section">
    <div class="row text-center">
        {% for doc in docs %}
        <div class="col-12 col-md-3 mx-auto my-auto">
            <div>
                {{doc.title}}
            </div>
            <div>
                <!-- need to get this to show something better! -->
                <img src="{{ spna }}/media/original/cropped-SPNA_logo_icon.png" class="card-img-top" alt="SPNA cropped logo">
                <a href="{{doc.doc.url}}">Download File</a>
            </div>
            <div>
                {{doc.date_uploaded | date:"d M, Y"}}
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}
