{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_js %}
{{block.super}}
<script type="text/javascript" src="{% static 'member/js/member.js' %}"></script>
<script>
    card('{{STRIPE_PUBLIC_KEY}}', '{{customer_email}}');
</script>
{% endblock extra_js %}

{% block extra_title %}- Payment{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA Sign Up - Payment</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Stripe Card section -->
<section id="payment-body-section" class="bg-ant-white text-blue">
    <div class="row g-0 w-100 pb-5">
        <div class="col-12 col-md-10 mx-auto my-auto text-center pt-3">
            <h2>Confirm Subscription Details</h2>
            <table id="payment-table" class="bg-whitesmoke mt-3">
                <tr>
                    <td class="p-1 overflow-auto text-left">Plan:</td>
                    <td class="black-text p-1 overflow-auto">{% if plan == 'Monthly' %} £10 Monthly{% elif plan == 'Six Monthly' %} £55 Every 6 months{% else %} £100 Yearly{% endif %}.</td>
                </tr>
                <tr>
                    <td class="p-1 overflow-auto text-left">Fullname:</td>
                    <td class="black-text p-1 overflow-auto">{{fullname}}</td>
                </tr>   
                <tr>
                    <td class="p-1 overflow-auto text-left">Email:</td>
                    <td class="black-text p-1 overflow-auto">{{customer_email}}</td>
                </tr>              
            </table>
        </div>
        <div class="col-12 col-md-10 mx-auto mt-3">
            <!-- need to display cost, stripe tag, other ui improvements -->
          <!-- stripe card element form -->
            <form action="{% url 'payment' %}" method="POST" class="bg-whitesmoke" id="payment-form">
                {% csrf_token %}
                <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                <p id="card-errors" role="alert"></p>
                <div id="payment-element"></div>
                <input type="hidden" id="client_secret" value="{{secret_key}}" name="client_secret">
                <input type="hidden" id="stripe_public_key" value="{{STRIPE_PUBLIC_KEY}}" name="stripe_public_key">
                <input type="hidden" id="payment_intent_id" value="{{payment_intent_id}}" name="payment_intent_id">
                <input type="hidden" id="stripe_plan_id" value="{{stripe_plan_id}}" name="stripe_plan_id">
                <input type="hidden" id="customer_email" value="{{customer_email}}" name="customer_email">
                <input type="hidden" id="automatic" value="{{automatic}}" name="automatic">
                <input type="hidden" id="fullname" value="{{fullname}}" name="fullname">
                <button id="submit-button" class="btn spna-btn">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
            </form>
            <p class="result-message hidden">
                Payment succeeded, see the result in your
                <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
            </p>
        </div>
        <div id="loading-overlay" class="col-12 text-center">
            <h1 class="text-light logo-font loading-spinner">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </h1>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
{{block.super}}

{% endblock %}