{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_title %}- Profile{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA Member Profile</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="profile-body-section" class="bg-whitesmoke text-blue">
    <div class="container-fluid">
        <div class="row g-0 mx-auto">
            <div class="col-12 p-2 text-center">
                <h2>SPNA member: {{member.fullname}}</h2>
            </div>

            <hr class="d-block p-1 mx-auto admin-hr">

            <div class="col-12 col-md-6 col-lg-5 p-2 mx-auto">
                <h3>Current Details</h3>
                <div>
                    <ul>
                        <li>Nursery:        {{member.nursery}}</li>
                        <li>Email:          {{member.user.email}}</li>
                        <li>Address:        {{member.street_address1}}</li>
                        <li>Town:           {{member.town_or_city}}</li>
                        <li>Postcode:       {{member.postcode}}</li>
                        <li>Phone:          {{member.phone}}</li>
                        <li>Subscription:   {{member.subscription}}</li>
                        <li>Renewal date:   {{member.paid_until}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 p-2 mx-auto">
                <h3>Update your details</h3>
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token%}
                    {{ form|crispy }}
                    <div class="p-2">
                        <button class="btn spna-btn" type="submit">Update</button>
                        <a href="{% url 'account_email' %}" class="btn btn-success">Change Email</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{% endblock %}