{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link  rel="stylesheet prefetch" type="text/css" href="{% static 'member/css/member.css' %}">
{% endblock %}

{% block extra_title %}- Sign Up{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

<section id="member-image-section">
    <div class="overlay">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div id="member-text-container"class="col-12 my-auto">
                    <h1 id="member-text" class="title-text">SPNA Sign Up</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="join-body-section" class="bg-ant-white text-blue">
    <div class="row g-0 w-100 bg-ant-white">
        <div class="col-12 col-sm-10 p-1 p-sm-5 mx-auto my-auto text-center">
            <p>Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>.</p>
        </div>
        <div class="col-10 col-md-8 p-2 p-sm-5 mb-5 h-100 mx-auto">
            <form class="signup mb-5" id="signup_form" method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if form.errors %} 
                    {% for field in form %} 
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}
                                </strong>
                            </div>
                        {% endfor %} 
                    {% endfor %}
                {% endif %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="pt-3">
                    <button class="spna-btn btn p-2" type="submit">Continue to Payment</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
{{block.super}}
<script type="text/javascript" src="{% static 'member/js/member.js' %}"></script>
{% endblock %}