{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
        <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&family=Raleway&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        <script src="https://kit.fontawesome.com/48b20a3378.js" crossorigin="anonymous"></script>
        {% endblock %}

        <title>SPNA {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
     
        <header class="container-fluid fixed-top">
            <div id="topnav" class="bg-blue row pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-10 my-auto py-1 py-lg-0">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <img src="../media/original/logo.png" alt="SPNA Logo">
                    </a>
                </div>

                <!-- BLOG CONTAINER? -->

                <!-- <div class="col-12 col-lg-2 my-auto py-lg-0 d-flex justify-content-end">
                    <a href="{% url 'home' %}" class="nav-link">
                        <div class="text-center other-nav">
                            <div><i class="fas fa-regular fa-comments"></i></div>
                            <p class="link-text my-0">Blog</p>
                        </div>
                    </a>
                </div>            -->
                <div class="col-12 col-lg-2 my-auto py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center other-nav">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 link-text">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="#" class="dropdown-item">News Management</a>
                                    {% endif %}
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>        
            </div>
            <div class="bg-blue row d-flex justify-content-center">
                <div class="navbar navbar-expand-md my-auto sticky-top" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a id="contact-button" data-bs-toggle="modal" data-bs-target="#myModal" href="#myModal">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        
   <!-- Modal -->
    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
            </div>
        </div>
    </div>  

        {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}


        <footer class=" fixed-bottom">
            <div id="footer" class="container-fluid bg-blue">
                <div id="mailchimp-row" class="row">
                    <div class="col-12 col-md-2">
                        <img class="pl-3" src="../media/original/cropped-SPNA_logo_icon.png" width="100px" height="100px" alt="Cropped SPNA logo">
                    </div>
                    <div class="col-12 col-lg-3 my-auto">
                        <p class="footer-logo text-blue">Scottish Private Nursery Association</p>
                    </div>
                    <div class="col-12 col-md-7">
                        <!-- Mail chimp form -->
                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="https://hotmail.us14.list-manage.com/subscribe/post?u=291280cf52030472eb64f0704&amp;id=a51e9f2451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group">
                                        <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_291280cf52030472eb64f0704_a51e9f2451" tabindex="-1" value="">
                                    </div>
                                    <div>
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-blue">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
                <div id="inner-lower-footer" class="row">
                    <div class="col-12 text-center">
                        <div class="p-1">
                            <i class="fas fa-envelope"></i>
                            <a class="pl-1" href="mailto:communications@scottishpna.org">communications@scottishpna.org</a>
                        </div>
                        <span class="text-muted">&copy 2022 E.Colquhoun </span>
                    </div>
                </div>
            </div>
        </footer>
        
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}

    </body>
</html>